# Variables de entorno y credenciales
.env
.env.local
.env.development
.env.production

# Módulos y dependencias
node_modules/

# Archivos de compilación / build
dist/
build/
*.js.map

# Registros y logs de la aplicación
logs/
*.log
npm-debug.log*

# Archivos del sistema operativo y editores
.DS_Store
Thumbs.db
.vscode/
.idea/